<!-- Javascript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="{{site.baseurl}}/js/jquery-2.1.1.min.js">\x3C/script>')</script>
<script type="text/javascript" src="{{site.baseurl}}/js/materialize.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/custom.js"></script>

<!-- Resume Modal -->
<div id="pagemodal" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>View other resumes</h4>
      <div class="row">
      </div>
    </div>  
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-{{site.color.primary}} btn-flat">Okay</a>
    </div>
</div>
  
<!-- Footer -->
<footer class="page-footer">
    <div class="row">
        <div class="col l3 offset-l9 s12">
            <div class="center footer-button">
            <button data-target="pagemodal" class="btn waves-effect waves-light {{site.accent}} accent-1 modal-trigger">Other Resumes</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="center-align">
            <a class="grey-text text-lighten-3" href="{{site.url}}{{site.baseurl}}">Github source</a>
        </div>
    </div>
</footer>