<!-- Javascript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="{{site.baseurl}}/js/jquery-2.1.1.min.js">\x3C/script>')</script>
<script type="text/javascript" src="{{site.baseurl}}/js/materialize.min.js"></script>
  
<!-- Footer -->
<footer class="page-footer">
    <div class="row"></div>
    <div class="footer-copyright">
        <div class="center-align">
            <a class="grey-text text-lighten-3" href="{{site.url}}{{site.baseurl}}">Github source</a>
        </div>
    </div>
</footer>